@model List<ResultCommentDTO>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<section class="content container-fluid">
    <div class="row">

        <div class="col-md-12">
            <div class="chart-box">
                <h4>Yorumlar Listesi</h4>
                <br />
                <div class="bs-example" data-example-id="bordered-table">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Kullanıcı</th>
                                <th>Yorum</th>
                                <th>Tarih</th>
                                <th>Durum</th>
                                <th>Sil</th>
                                <th>Güncelle</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                count++;
                                <tr>
                                    <th scope="row">@count</th>
                                    <td>@item.UserCommentNameSurname</td>
                                    <td>@item.UserCommentDetail</td>
                                    <td>@item.UserCommentCreatedDate.ToString("yyyy MM ddd")</td>
                                    <td>@(item.UserCommentStatus == true ? "Aktif" : "Pasif")</td>
                                    <td><a href="/Admin/Comment/DeleteComment/@item.UserCommentID" class="btn btn-danger">Sil</a></td>
                                    <td><a href="/Admin/Comment/UpdateComment/@item.UserCommentID" class="btn btn-success">Güncelle</a></td>

                                </tr>
                            }

                        </tbody>
                    </table>
                    <a href="/Admin/UserComment/CreateUserComment/" class="btn btn-primary">Yeni Yorum Girişi</a>
                </div>
            </div>
        </div>

    </div>
</section>


